.wrapper {
    position: relative;
}
.datePicker {
    position: absolute;
    z-index: 999;
}
.datePicker .container {
    position: relative;
    padding: 10px 5px;
    width: 437px;
    border: 1px solid #ddd;
    font-size: 12px;
    box-sizing: border-box;
    background-color: #fff;
}

.datePicker .prev,
.datePicker .next {
    position: absolute;
    top: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #49f;
}

.datePicker .prev {
    float: left;
    left: 15px;
}
.datePicker .next {
    float: right;
    right: 15px;
}
.datePicker h4 {
    margin: 0;
    text-align: center;
}
.datePicker .disabled a,
.datePicker .date-item a {
    display: inline-block;
    color:inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.datePicker .date-item a:hover {
    color: #fff;
    background: #a9d0fc;
}
.datePicker .date-item a.active {
    color: #fff;
    background: #49f;
}
.datePicker .disabled a {
    color: #ddd;
    background: transparent;
    cursor: default;
}
.datePicker .calendar-item {
    display: inline-block;
    margin: 0 10px;
}
.datePicker .month {
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
}
.datePicker table {
    width: 190px;
    border-collapse: collapse;
}
.datePicker table thead td,
.datePicker table tbody td {
    display: table-cell;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.datePicker table tbody td { 
    border: 1px solid #ddd;
}